{{!-- NAVBAR, Hero section features footer --}}
  <script>
        </script>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand pl-3" href="/">Admin Panel</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto pr-4">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
      <li class="nav-item dropdown pr-5">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{admin.name}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="font-size: smaller;">
          <a class="dropdown-item" href="/admin/logout-current-host-user">Logout User (current host)</a>
          <a class="dropdown-item" href="/admin/logout-all">Logout All users</a>
          <a class="dropdown-item" href="/admin/logout">Logout Admin</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
 <!-- Tables section-->
 <div class="col-md-12 mt-2 person-table">
            <h3 class="py-3 mb-4 pt-5 align-center font-weight-bold text-center">All Users </h3>
            <div class="d-flex justify-content-end ">
             {{!-- <a href="" class="" ><i class="fas fa-user-minus ml-3"></i> <p class="font-weight-bold">Delete User</p> </a>  --}}
               <a href="/admin/add-user" class="ml-2"> <i class="fas fa-user-plus ml-3"></i> <p class="font-weight-bold"> Add User</p></a>
            </div>
        <table class="table align-middle mt-1 mb-5 table-hover pb-5" id="myTable">
        
  <thead>
    
    <tr>
       <th scope="col">#</th>
       
      <th scope="col">Name</th>
       <th scope="col">Email</th>
      <th scope="col">Age</th>
      <th scope="col">Gender</th>
      <th scope="col">Place</th>
      <th scope="col">City</th>
      <th scope="col">Country</th>
      <th scope="col">Phone</th>
        <th scope="col">Status</th>
      <th scope="col">Actions</th>
    
    
    </tr>
  </thead>
  <tbody>
      {{#each users}}
    <tr>
       <th scope="row">{{@index}} </th>
      <td scope="row">{{this.name}}</td>
       <td scope="row">{{this.email}}</td>
      <td scope="row">{{this.age}}</td>
      <td scope="row">{{this.gender}}</td>
      <td scope="row"> {{this.address.place}} </td>
      <td scope="row">{{this.address.city}} </td>
      <td scope="row">{{this.address.country}} </td>
    <td scope="row">{{this.phone}} </td>
    <td scope="row" class="d-flex justify-content-around align-item-center">
      {{#if this.isBlocked}}
      Blocked 
    {{else }}
    Active
    {{/if}}
    <a href="/admin/user-view/{{this._id}}" class="view-btn" style="font-size: smaller;">View Profile</a>
    </td>
    <td scope="row"> 
      <div class="btn-group btn-group-sm">
            <a href="/admin/edit-user/{{this._id}}" class="btn btn-primary button mx-1">Edit</a>
             {{#if this.isBlocked}}
             <button onclick="return confirm('Are sure you sure want to Unblock  {{this.name}}?')  && unblockUser('{{this._id}}');" class="btn btn-danger button mx-1">Unblock</button>
              {{else }}
              <button onclick=" return confirm('Are sure you sure want to Block  {{this.name}}?')  && blockUser('{{this._id}}');" class="btn btn-danger button mx-1">Block</button> </div>
                 {{/if}}
            
    </td>
    </tr>
   {{/each}}
  </tbody>
</table>
</div>

        <footer class="py-1 bg-dark sticky-bottom mt-2" >
            <div class="container px-5"><p class="m-0 text-center text-white">Copyright &copy; web 2021</p></div>
        </footer>

<script>
</script>