<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand pl-3" href="/">Admin Panel</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto pr-4">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
      <li class="nav-item dropdown pr-5">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{admin.name}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="font-size: smaller;">
          <a class="dropdown-item" href="/admin/logout-current-host-user">Logout User (current host)</a>
          <a class="dropdown-item" href="/admin/logout-all">Logout All users</a>
          <a class="dropdown-item" href="/admin/logout">Logout Admin</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<section>
    <div class="container mb-4">

        <div class="row justify-content-center">
            <div class="col-md-6 ">
                <h2 class="text-center pb-4 pt-4">Edit User Details</h2>
      <div>
        <a href="/admin" class="btn btn-primary mb-3 w-30"> back</a>
      </div>
               <div class="alert alert-warning alert-dismissible fade show" id="message1" role="alert">
                  <strong>&#10060;</strong> 
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
    <form action="/admin/edit-user/{{user._id}}" method="POST">
  <div class="form-group mb-2 mt-">
   
  </div>
  <div class="form-group mb-2">
    <label for="">Full Name</label>
    <input type="text" class="form-control" name="name" value="{{user.name}}">
  </div>
  <div class="form-group mb-2">
    <label for="">Gender</label>
    <select class="form-control" name="gender"  value="{{user.gender}}">
    <option value="Male">Male</option>
    <option value="Female">Female</option>
    <option value="Other">Other</option>
     </select>
    
  </div>
  <div class="form-group mb-2">
    <label for="">Age</label> 
    <input type="text" class="form-control" name="age"  value="{{ user.age}}">
  </div>
    <div class="form-group mb-2">
    <label for="">Place</label>
    <input type="text" class="form-control" name="place" value="{{user.address.place}}">
  </div>
      <div class="form-group mb-2">
    <label for="">City</label>
    <input type="text" class="form-control" name="city" value="{{user.address.city}}">
  </div>
        <div class="form-group mb-2">
    <label for="">Country</label>
    <input type="text" class="form-control" name="country" list="country" value="{{user.address.country}}">
      <datalist id="country">
    <option value="India">
    <option value="Australia">
    <option value="USA">
    <option value="UK">
    <option value="Canada">
  </datalist>
  </div>
        <div class="form-group mb-2">
    <label for="">Phone</label>
    <input type="text" class="form-control" name="phone" value="{{user.phone}}">
  </div>
    {{!-- <div class="form-group mb-2">
    <label for="">Profile Picture</label>
    <img src="#" alt="product-image" style="width: 100px; height: 100px; padding: 3%" id="uploadedImg">
    <input type="file" class="form-control" name="image" accept="image/x-png,image/gif,image/jpeg" id="imgInput">
  </div> --}}
 <div class="form-group mb-2 text-center"></div>
 <div class="row d-flex align-content-center justify-content-around">
  <button type="submit" class="row btn btn-success mt-4  ">Update Information</button>
  {{#if user.isBlocked}}
   <button onclick="unblockUser('{{user._id}}')" class="row btn btn-warning mt-4  ">Unblock User</button>
   {{/if}}
   <button  style="color: #fff;" onclick=" return confirm('Are your sure want delete this user?') && deleteUser('{{user._id}}');"  class="row btn btn-danger mt-4">Delete User</button>
   </div>
    </div>
</form>
            </div>
        </div>
    </div>
</section>
    
        <footer class="py-1 bg-dark fixed-bottom mt-2" >
            <div class="container px-5"><p class="m-0 text-center text-white">Copyright &copy; web 2021</p></div>
        </footer>
<script>
  $(document).ready( function () {
    $('#myTable').DataTable();
        } );

</script>